@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .navbar-item {
        @apply p-3
            outline outline-offset-2
            outline-blue-700 text-black
            hover:text-blue-700
             dark:outline-pink-500 dark:text-white
             dark:hover:text-pink-500
            rounded-2xl hover:rounded-xl transition-all
            duration-300 ease-linear cursor-pointer;

        }

        .dark-mode {
            @apply bg-gray-200 dark:bg-gray-800;
        }


}


/* @layer base {
    .dark-mode {
        @apply bg-gray-200 dark:bg-gray-800;
    }
} */


body {
    background-color: #36393f;
}

html{scroll-behavior:smooth}

/* hover:bg-pink-300 hover:text-black */
